.wrapper
    ul.index__sidebar
        li.index__sidebar__item
            a(href="#").index__sidebar__link all
        li.index__sidebar__item
            a(href="#").index__sidebar__link.active medical equipment
                span.index__sidebar__number 1
        li.index__sidebar__item
            a(href="#").index__sidebar__link nutrition
                span.index__sidebar__number 1
        li.index__sidebar__item
            a(href="#").index__sidebar__link health care
                span.index__sidebar__number 6
        li.index__sidebar__item
            a(href="#").index__sidebar__link food
                span.index__sidebar__number 6
        li.index__sidebar__item
            a(href="#").index__sidebar__link pharmaceutical
                span.index__sidebar__number 9
        li.index__sidebar__item
            a(href="#").index__sidebar__link science
                span.index__sidebar__number 1
        li.index__sidebar__item
            a(href="#").index__sidebar__link horse shows
        li.index__sidebar__item
            a(href="#").index__sidebar__link risk management
                span.index__sidebar__number 1
        li.index__sidebar__item
            a(href="#").index__sidebar__link golf tours
        li.index__sidebar__item
            a(href="#").index__sidebar__link lifestyle
        li.index__sidebar__item
            a(href="#").index__sidebar__link technology
                span.index__sidebar__number 1
    .wrapper__info
        .index__top-menu
            .index__top-menu--left
                a(href="#", data-tab="tab-1").index__top-menu__tab-btn.active Unbooked events
                a(href="#", data-tab="tab-2").index__top-menu__tab-btn Upcoming events
            .index__top-menu--right
                a(href="booking.html").index__top-menu__btn Add new show booking form
        .index__tab.tab-1.active
            .index__tab__row
                .index__tab__row--1
                    span.index__tab__text Power-Gen International
                        span.index__sidebar__number NEW
                .index__tab__row--2
                    a(href="#").index__tab__link Send manually
                .index__tab__row--3
                    a(href="#").index__tab__link Send automatically

            .index__tab__row
                .index__tab__row--1
                    span.index__tab__text Hospitality Financial and Professionals Conference Waste Expo
                .index__tab__row--2
                    a(href="#").index__tab__link Send manually
                .index__tab__row--3
                    a(href="#").index__tab__link.not-active Send automatically

            .index__tab__row
                .index__tab__row--1
                    span.index__tab__text Speciality Equipment Marketing Association
                .index__tab__row--2
                    a(href="#").index__tab__link.not-active Send manually
                .index__tab__row--3
                    a(href="#").index__tab__link Send automatically


        .index__tab.tab-2
            .index__tab__row
                .index__tab__row--1
                    span.index__tab__text Power-Gen International Booth 17
                .index__tab__row--2
                    a(href="#").index__tab__link shelly
                .index__tab__row--3
                    span.index__tab__text 01/05/17
                .index__tab__row--4
                    a(href="#").index__tab__link-btn Confirm

            .index__tab__row
                .index__tab__row--1
                    span.index__tab__text Hospitality Financial and Technology Professionals Conference Waste Booth 11
                .index__tab__row--2
                    a(href="#").index__tab__link Maria
                .index__tab__row--3
                    span.index__tab__text 07/05/17
                .index__tab__row--4
                    a(href="#").index__tab__link-btn Confirm

            .index__tab__row
                .index__tab__row--1
                    span.index__tab__text Speciality Equipment Marketing Association Booth 19
                .index__tab__row--2
                    a(href="#").index__tab__link Sabina Bakh
                .index__tab__row--3
                    span.index__tab__text 11/05/17
                .index__tab__row--4
                    a(href="#").index__tab__link-btn.not-active Confirm

            .index__tab__row
                .index__tab__row--1
                    span.index__tab__text Speciality Equipment Marketing Association Booth 22
                .index__tab__row--2
                    a(href="#").index__tab__link jack barrigan
                .index__tab__row--3
                    span.index__tab__text 11/05/17
                .index__tab__row--4
                    a(href="#").index__tab__link-btn Confirm


